.sky-input {
	border-bottom: 1px solid #43a047 !important;
	box-shadow: 0 1px 0 0 #43a047!important;
}

.sky-input:focus {
	border-bottom: 1px solid #26a69a!important;
	box-shadow: 0 1px 0 0 #26a69a!important;
}

#modal1 > div.modal-content > form > div:nth-child(3) > div:nth-child(2) > div {
	border-bottom: 1px solid #26a69a !important;
	box-shadow: 0 1px 0 0 #26a69a!important;
}
.select-wrapper input.select-dropdown {
	border-bottom: none!important
}

.modal-content .error {
	color: #f30909;
	font-size: 16px;
}